@font-face {
    font-family: 'proxima_novabold';
    src: url('../assets/fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/proximanova-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proxima_novaregular';
    src: url('../assets/fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proxima_novathin';
    src: url('../assets/fonts/proximanova-thin-webfont.woff2') format('woff2'),
         url('../assets/fonts/proximanova-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proxima_nova_abold';
    src: url('../assets/fonts/proximanovaa-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/proximanovaa-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proxima_nova_aregular';
    src: url('../assets/fonts/proximanovaa-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/proximanovaa-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proxima_nova_sbold';
    src: url('../assets/fonts/proximanovas-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/proximanovas-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proxima_nova_sregular';
    src: url('../assets/fonts/proximanovas-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/proximanovas-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



body {
    font-family: 'proxima_novaregular', sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/
    margin: 0;
}

/*  =============  GENERAL  ==============  */

.white {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
  top: 0;
  z-index: 105;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pinktie {
  position: fixed;
  top: 0;
  left: 0;
  height: 1920px;
  width: 1080px;
  z-index: 101;
}

.sponsored {
  color: #455267;
  margin: 0;
  position: absolute;
  font-size: 27px;
  top: 34px;
  left: 294px;
}

.background {
  position: fixed;
  height: 100%;
  width: 1080px;
  z-index: -1;
}

/*Header*/
header {
  padding: 50px;
  text-align: center;
  background-color: black;
  position: relative;
  z-index: 103;
  position: relative;
  transition: margin 1s;
}

header img {
    height: 78px;
  padding: 20px 0;
}

h1 {
  color: white;
  font-size: 63px;
  font-weight: 600;
}

h2 {
  color: white;
  font-size: 35px;
  letter-spacing: 4px;
}

h3 {
  font-weight: lighter;
  font-size: 29px;
  color: white;
}

p {
  font-size: 38px;
  color: white;
  font-weight: lighter;
  line-height: 1.7;
}

aside.home_click {
  right: 65px;
  top: 80px;
  display: none;
  z-index: 1;
  position: absolute;
  padding: 34px 50px;
  text-align: center;
  z-index: 2;
}

aside.home_click img {
  height: 68px;
}

aside.home_click h3 {
  margin-bottom: 0px;
  margin-top: 22px;
  color: #E9D66B;
}

.button {
  background-color: black;
  padding: 45px 50px;
  margin-bottom: 77px;
  font-size: 35px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  outline: none;
  border: none;
}

.reverse {
  background-color:white;
  color: black;
}

.gif_info {
  display: none;
  color: white;
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 0;
  top: 123px;
  font-weight: bold;
  font-size: 47px;
}

.next {
  display: none;
  width: 150px;
  background-color: black;
  color: white;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 85px;
  z-index: 3;
  font-weight: bold;
}

form {
  margin-top: 107px;
}

input.input {
  display: inline-block;
  width: 100%;
  padding: 35px 54px;
  background: transparent;
  border: 2px solid white;
  font-size: 35px;
  font-weight: normal;
  margin-bottom: 48px;
  outline: none;
  color: white;
  transition: border .5s;
}

.photobooth input.input {
  width: 86%;
}

.line {
  height: 1px;
  width: 100%;
  background: white;
  margin: 68px 0;
}

input.input::placeholder {
  color: rgba(255, 255, 255, 0.62);
  font-weight: lighter;
}

input.input:focus {
  border: 4px solid white;
}

.share_overlay {
  display: none;
  background-color: #000000e8;
  height: 1920px;
  width: 100%;
  position: absolute;
  top: 0px;
      z-index: 103;
      overflow-y: auto;
}

.share_overlay input.input {
  display: block;
}

#share_alert, #donation_alert {
  background-color: white;
  display: none;
  position: absolute;
  bottom: 0;
  height: 1920px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  z-index: 107;
}

#share_alert p {
  font-size: 42px;
  letter-spacing: 3px;
}

#share_alert h3, #donation_alert h3 {
  font-size: 115px;
  color: black;
  font-weight: bold;
  margin-bottom: 10px;

}

#share_alert p, #donation_alert p {
  color: black;
  margin-top: -8px;
  
}

#done {
  position: absolute;
  right: 133px;
  top: 620px;
}



/* ================  HOME  =================*/
.home, .product_page {
  height: 100vh;
  width: 1080px;
  overflow-x: hidden;
  position: relative;
}

.home {
  overflow: hidden;
}

.vid {
  height: 1920px;
  position: fixed;
  z-index: -2 !important;
  min-height: 1439px;
  top: 203px;
  display: none;
}

.photobooth .vid {
  background-size: cover;
  background-image: url('../assets/img/load.jpg');
  width: 1080px;
  top: 0;
}

.trivia_page .vid {
  background-size: cover;
  background-image: url('../assets/img/vegas.png');
  width: 1080px;
}

.inner_page_hero {
  background-size: cover;
  background-image: url('../assets/img/inner_page_hero.jpg');
  width: 100%;
  height: 400px;
  position: relative;
  margin-bottom: -90px;
}

.inner_page_hero .overlay {
  background-color: #348eca66;
  height: 100%;
  position: absolute;
  width: 100%;
}

.inner_page_hero .overlay h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 49px;
}

.vid_overlay {
  display: none;
  background-color: #0000004d;
  height: 1717px;
  position: fixed;
  z-index: -1;
  min-height: 1439px;
  top: 208px;
  width: 100%;
}

.trivia_page .vid_overlay {
  background-color: #000000a6;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 700px;
  position: relative;
  transition: margin-top 2s;
  opacity: 0;
  transition: opacity 2s, margin 2s;
}

.options.products {
  transition:  margin 1s;
}

.option {
  height: 350px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  border-radius: 100%;
  text-decoration: none;
  margin: 47px;
  transition: transform 1s, opacity .5s;
}

.option img {
  padding: 0;
  height: 72px;
}

.option p {
  color: #4a5d88;
  font-family: 'proxima_novabold';
  margin: 0;
  margin-top: 35px;
  width: 159px;
  text-align: center;
  line-height: 1.3;
  font-size: 35px;
}

.himms {
  width: 500px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 150px;
  display: none;
  transition: margin 1s;
  top: 1400px;
}

.products.options .option {
  width: 257px;
  height: 141px;
  margin: 19px;
  display: block;
  width: 50%;
  border: 1px solid #455267;
  border-radius: 20px;
  padding: 0px 100px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.home_options {
  /*display: none;*/
}

.home_options .option {
  border-radius: 20px;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  height: auto;
  padding: 50px 80px;
  margin: 30px 150px;
}

.home_options img {
  height: 658px;
  position: absolute;
  transition: margin  1s;
}

.home_options p span {
  opacity: .6;
}
.home_options a {
  text-decoration: none;
}

.home_options a:first-child img {
  left: -275px;
  margin-left: -500px;
}

.home_options a:first-child p {
      position: relative !important;
    font-size: 48px !important;
    color: black !important;
    left: 372px;
    top: 163px;
}

.home_options a:nth-child(2) img {
  right: -275px;
  top: 530px;
  margin-right: -500px;
}


.home_options a:nth-child(2) p {
      position: relative;
    top: 758px;
    left: -406px;
    font-size: 48px !important;
    color: black !important;
}

.prize {
  display: none;
  margin: 30px 150px;
  background: white;
  width: 100%;
  height: 400px;
  position: relative;
  margin-top: -75px;
  z-index: 12;
  overflow: hidden;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.prize img {
  height: 400px;
  margin-left: -26px;
  margin-top: 69px;
  -webkit-animation: shake 3s infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    2% { transform: translate(-1px, -2px) rotate(-1deg); }
    4% { transform: translate(-3px, 0px) rotate(1deg); }
    6% { transform: translate(3px, 2px) rotate(0deg); }
    8% { transform: translate(1px, -1px) rotate(1deg); }
    10% { transform: translate(-1px, 2px) rotate(-1deg); }
    12% { transform: translate(-3px, 1px) rotate(0deg); }
    14% { transform: translate(3px, 1px) rotate(-1deg); }
    16% { transform: translate(-1px, -1px) rotate(1deg); }
    18% { transform: translate(1px, 2px) rotate(0deg); }
    20% { transform: translate(1px, -2px) rotate(-1deg); }
    22% { transform: translate(0, 0) rotate(0deg); }
}

.prize p {
  position: absolute;
  top: 151px;
  z-index: 190;
  color: #455267;
  margin-left: 440px;
  line-height: 1.4;
}

.home_options .option p {
  width: auto;
  margin: 0;
  margin-left: 50px;
}

.products.options .option p {
  font-size: 31px;
  margin-top: 0 !important;
  width: auto;
}

.products.options .option img {
  height: 80px;
  margin-right: 50px;
}

.home_options a:nth-child(1) img { -webkit-animation: bounce_one 4s infinite ease-in-out; }
.home_options a:nth-child(2) img {  -webkit-animation: bounce_two 4s infinite ease-in-out; }
.home_options .option:nth-child(3) {  -webkit-animation: bounce_three 6s infinite ease-in-out; }
.home_options .option:nth-child(4) {  -webkit-animation: bounce_four 6s infinite ease-in-out; }
.home_options .option:nth-child(5) {  -webkit-animation: bounce_five 6s infinite ease-in-out; }


@-webkit-keyframes bounce_one {
  15%, 45%  { -webkit-transform: translateY(0); }
    
  30% { -webkit-transform: translateY(-30px); }
}

@-webkit-keyframes bounce_two {
  25%, 55%  { -webkit-transform: translateY(0); }
    
  40% { -webkit-transform: translateY(-30px); }
}

@-webkit-keyframes bounce_three {
  40%, 60%  { -webkit-transform: translateY(0); }
    
  50% { -webkit-transform: translateY(-30px); }
}

@-webkit-keyframes bounce_four {
  60%, 70%  { -webkit-transform: translateY(0); }
    
  70% { -webkit-transform: translateY(-30px); }
}

@-webkit-keyframes bounce_five {
  70%, 90%  { -webkit-transform: translateY(0); }
    
  80% { -webkit-transform: translateY(-30px); }
}

.sponsors {
  background-color: rgba(234, 93, 37, 0.3);
  position: absolute;
  top: 229px;
  z-index: 1000;
  width: 100%;
  text-align: center;
}


canvas img {
  margin: auto;
}

.photos {
  /*background-size: cover;*/
  /*background-image: url('https://image.freepik.com/free-vector/winter-silver-background-with-snowflakes_1048-85.jpg');*/

  height: 1510px;
  margin-bottom: 10px;
  display: none;
  justify-content: center;
  align-items: flex-end;
}

.photobooth .photos {
  display: flex;
}

.holiday {
  width: 83%;
  position: absolute;
  top: 506px;
  height: auto !important;
}

#photos {
  transition: opacity 1s, height .5s;
}

.photos img {
  padding: 45px 50px;
  height: 112px;
}

#slider, .slide_pic, .slide {
  width: 100%;
  height: 100%;
}

#slider {
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 230px;
  height: 985px;
  display: none;
  width: 100%;
  font-size: 200px; color: white; text-align: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide img {
  height: 1080px;
  width: 1080px;
  padding: 0;
}

.slide_pic {
  position: absolute;
  height: 1080px;
}

.pic_one {
  background-size: cover;
  background-image: url('../assets/img/home_photo.jpg');
}

.pic_two {
  background-size: cover;
  background-image: url('../assets/img/home_photo2.jpg');
}

.pic_three {
  background-size: cover;
  background-image: url('../assets/img/home_photo3.jpg');
}

.pic_four {
  background-size: cover;
  background-image: url('../assets/img/home_photo4.jpg');
}

.photos .button {
  position: absolute;
  margin-top: -54px;
}

#choose_picture {
  left: 345px;
  width: 280px;
}

#choose_gif {
  right: 120px;
  width: 280px;
  text-align: center;
}


.donate {
  background-size: cover;
  background-image: url('../assets/img/donate.png');
  background-position: center -165px;
  background-color: #E9D66B;
  height: 337.5px;
  width: 100%;
  margin-bottom: 10px;
  transition: opacity 1s, height .5s;
}

span.currencyinput {
  position: relative;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.61);;
  left: 54px;
  top: -382px;
  transition: color .5s;
}


.inner_content {
  display: none;
  width: 100%; height: 100%;
}

.container {
  margin: auto;
  padding: 100px;
  width: 880px;
  /*top: 230px;*/
    position: relative;
}

.event_pics {
  display: none;
  background-size: cover;
  /*background-image: url('../assets/img/home_photo.jpg');*/
  background-position: -1px -234px;
  height: 190px;
  width: 100%;
  /*transition: opacity 1s;*/
}

.event_pic {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 69px;
  height: 1200px;
  width: 900px;
}

.display_gifs .event_pic {
  width: 600px;
  height: 800px;
}

.overlay {
  background-color: #c22628;
  width: 100%; height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*transition: background-color .3s;*/
}

.active {
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  bottom: 0;
  margin-bottom: 0;
}

.pink_logo {
  height: 167px;
  position: absolute;
  bottom: 35px;
  right: 43px;
}

/* ================  PHOTOS  =================*/
.camera_button {
  display: none;
  position: absolute;
  top: 396px;
}

#snap_photo {
  left: 305px;
}

#snap_gif {
  right: 305px;
}

.countdown {
  font-size: 0px;
  position: absolute;
  color: white;
  top: 54%;
  transform: translateY(-30%);
  -webkit-transition: font-size .7s ease;
  -moz-transition: font-size .7s ease;
  -o-transition: font-size .7s ease;
  transition: font-size .7s ease;
}

.flash {
  display: none;
  background: yellow;
  height: 1920px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: white;
  transition: background-color 1s;
}

.pic_text, .gif_text {
  display: none;
  position: absolute;
  top: 275px;
  font-size: 50px;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
}

#video, #pictures, #pictures .canvas_holder {
  display: none;
}

.photobooth #video {
  display: block;
  height: 1300px !important;
}

.draw_ctl {
  display: none;
  position: absolute;
  z-index: 2;
  top: 229px;
  left: 45%;
  padding: 20px;
}



#pen {
  display: none !important;
  width: 100px;
  width: 85px;
  position: absolute;
  z-index:2;
  padding: 20px;
  left: 45%;
  top: 100px;
  -webkit-animation: bounce 3s infinite ease-in-out;
}

@-webkit-keyframes bounce {
  40%, 60%  { -webkit-transform: translateY(0); }
    
  50% { -webkit-transform: translateY(-10px); }
}


#inverse {
  -webkit-filter:invert(1);
    -moz-filter:invert(1);
    -o-filter: invert(1);
    -ms-filter: invert(1);
    filter: invert(1);
}

.canvas_holder {
    display: inline-block;
    text-align: center;
    transition: background-color .2s;
    /*background-image: url('../assets/img/christmas_dark.png');*/
}

#drawn {
    position: absolute;
    left: 90px;
    top: 360px;
}

.gif_container {
  padding: 50px;
  width: 980px;
  padding-top: 310px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gif_container .canvas_holder {
  width: 300px;
  margin: 28px 32px;
}

.gif_container .canvas_holder img {
  width: 300px;
}

.canvas_holder img {
  box-shadow: 0px 0px 15px #00000070;
}

.gif {
  transition: outline 1s;

}

.photo {
  width: 100%;
  position: absolute;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 1710px;
  top: 0;
  
}



.photo img, .gif_show img {
  width: 75%;
}

.photo img {
  width: 83%;
}

#draw {
  display: none;
  position: absolute;
  left: 91px;
  margin-top: -105px;
}

#pictures img:last-child {
  position: absolute;
  left: 91px;
  /*margin-top: -105px;*/
}

#pictures .gif_container img:last-child {
  position: relative;
  left: auto;
}

.gif_show img {
  height: 1200px;
  width: 900px;
  position: relative;
  top: -230px;
}

.gif_show .submit {
  bottom: 200px;
}
/*#pictures .canvas {
  width: 100%;
  height: 100%;
}
*/

.colors {
  display: none;
  position: absolute;
  z-index: 4;
  top: 256px;
}

.color {
  width: 92px;
  height: 106px;
}

.sizes {
  position: absolute;
  display: none;
  top: 256px;
  right: 0;
  z-index: 4;
}

.size {
  border-radius: 100%;
  margin: 31px;
  margin-bottom: 95px;
  background-color: white;
  transition: scale .2s;
}

#small {
  width: 20px; height: 20px;
}

#medium {
  width: 25px; height: 25px;
}

#large {
  width: 30px; height: 30px;
}

#huge {
  width: 35px; height: 35px;
}

.size:active {
  transform: scale(1.2);
}


#colorRed {
  background-color: #c22628;
}

#colorGreen {
  background-color: #49a463;
}
#colorBlue {
  background-color: #30b9dc;
}
#colorWhite {
  background-color: #fff;
}
#colorBlack {
  background-color: #000;
}

.fa-close {
  position: absolute;
  right: 15px;
  top: 12px;
  font-size: 56px !important;
  color: #ffffff;
  cursor: pointer;
  z-index: 110;
  background: black;
  padding: 10px 15px;
}

.fa-close.sharex {
  display: none ;
}

.draw_ctl .fa-close {
  position: relative;
  right: auto;left: auto;top: auto;
  top: -125px;
}

#pictures {
    position: relative;
    height: 1710px;
    background-size: cover;
    
    /*background-image: url('../assets/img/christmas_dark.png');*/
}

#pictures .button {
  margin-bottom: 60px;
}

#submit_form {
  margin-top: 360px;
}

.submit, .retake {
  display: none;
  position: absolute;
  bottom: 0;
  left: 35%;
  transform: translateX(-50%);
  z-index: 1;
}

.retake {
  right: 16%;
  left: auto;
}

.gif_show .submit {
  left: 50%;
}

.print {
  display: none;
  position: absolute;
  bottom: 0;
  left: 36%;
  transform: translateX(-50%);
  z-index: 1;
}

.like {
  display: none;
  border-radius: 100%;
  height: 130px;
  width: 130px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 39%;
  background: white;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .5s;
}

.check {
  display: inline-block;
}

.check:after{
  content: '';
  display: block;
  width: 30px;
  height: 60px;
  border: solid #ea5e28;
  border-width: 0 15px 15px 0;
  transform: rotate(45deg);
  margin-top: -18px;
}

.gif_show {
  display: none;
  height: 1920px;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  /*background-size: cover;
  background-image: url('../assets/img/christmas_dark.png');*/
}

.flex {
  display: flex !important;
}

.gif_show .gif {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
}

.gif_show .gif canvas {
  height: 100%;
  width: 100%;
}

#loader {
  position: absolute;
  top: 41%;
  transform: translateY(-50%);
  width: auto;
  height: 300px;
}


.event_pics .button {
  display: none;
}

.choice h2 {
  font-size: 82px;
}

.choice {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 960px;
  opacity: 0;
  transition: opacity 1s;
}

.event_images {
  background-image: url('../assets/img/home_photo.jpg');
}

.event_gifs {
  background-image: url('https://static.wixstatic.com/media/c11316_9ccc15c96fd04386b552cadf789f303f~mv2.gif');
}

.display_images, .display_gifs {
  display: none;
  text-align: center;
    margin-top: 200px;
}

.event_pics .button {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 28px;
}

.display_gifs img:last-child {
  margin-bottom: 300px;
}

.display_images img:last-child {
  margin-bottom: 300px;
}

.event_pics.active {
  height: 1920px;
}
/*.orange {
  opacity: 0;
  height: 1690px;
  background-color: #E9D66B;  
  transition: opacity 1s, height 2s;
  position: absolute;
  bottom: 0;
}*/



/*  ===========================   IFRAMEs  ================================*/
iframe {
  width: 758px;
  height: 1200px;
  position: relative;
  top: 246px;
  z-index: 0;
  transform: scale(1.43);
  left: 160px;
}

.arrow_back {
    position: absolute;
    left: 50px;
    top: 104px;
}

.arrow_back img {
    height: 30px;
}

.product_page iframe {
    top: 176px;
    height: 1263px;
}

.security_page iframe {
    top: 250px;
    height: 1188px;
}

.sabres iframe {
  z-index: 1000;
}

.trivia_page {
  background-size: cover;
  background-position: center;
}

.banner {
  background-position: center center;
  height: 470px;
  background-image: url(../assets/img/about_banner.jpg);
  width: 100%;
  position: relative;
}

.banner_overlay {
  background-color: rgba(74, 93, 136, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner_overlay img {
  height: 70px;
}

.banner_overlay h1 {
  font-size: 42px;
  margin-top: 51px;
  /*font-family: 'Oswald', sans-serif;*/
  max-width: 800px;
  letter-spacing: 1px;
  font-family: 'proxima_novabold'; 
  /*font-weight: medium;*/
}

.product_page .content {
  padding: 100px;
}

.product_page .content_img {
  padding-bottom: 0;
}

.product_page h2 {
  color: #455267;
  font-size: 40px;
  font-family: 'proxima_novabold'; 
}

.product_page h3 {
  color: black;
  font-family: 'proxima_novabold'; 
  font-size: 35px;
  margin-bottom: 0;
  margin-top: 45px;
}

.product_page p {
  color: #455267;
  font-size: 29px;
}

.bullets {
  list-style: none;
}

.bullets li {
  position: relative;
  position: relative;
  font-size: 29px;
  margin-bottom: 20px;
  color: #455267;
}

.bullets li:before {
  content: '';
  position: absolute;
  left: -35px;
  height: 11px;
  width: 11px;
  background-color: #455267;
  border-radius: 100%;
  top: 12px;
}

.darken {
  padding: 100px;
  background-color: #348eca;
}

.darken li, .darken h2, .darken p, .darken {
  color: white;
}

.darken .bullets li:before { 
  background-color: white;
}

.product_page .content .logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.product_page .content .logos img {
  height: 69px;
  margin: 60px;
  width: auto;
}

.product_page .content img {
  width: 100%;
}

.content .boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content .box {
  width: 47%;
}

/*  =============  TRIVIA PAGE  ==================  */
.get_email {
  position: fixed;
  background-color: #455267f0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 400px;
}

.get_email p {
  width: 600px;
  font-size: 43px;
}

.get_email form {
  width: 600px;
  margin-top: 50px;
}

#email {
  width: 60%;
  margin: auto;
  margin-top: 300px;
}

#email input.input {
  border: 2px solid white;
  color: white;
  width: 82%;
}

.missing, .incomplete {
  display: none;
  position: absolute;
  top: 210px;
  text-align: center;
  background-color: #f14545;
  width: 100%;
}


#email input.input::placeholder {
  color: white;
  opacity: .5;
}

.trivia_content {
  display: none;
  transition: all .5s;
  padding-top: 200px;
}

.trivia .title_holder p, .trivia .title_holder h1 {
  text-align: center;
}

.question { 
  padding: 50px 80px;
  background: white;
  margin: auto;
  width: 65%;
  margin-top: 63px;
  margin-bottom: 68px;
  border-radius: 25px;
  text-align: center;
  color: #455267;
}

.question p {
  font-size: 35px;
  color: #455267;
  line-height: 1.3;
}

.question h2 {
  color: #455267;
  font-family: 'proxima_novabold';
  letter-spacing: 1px;
  font-size: 40px;
  margin-bottom: -12px;
}

.answer, .answer_outcome {
  padding: 20px 80px;
  width: 65%;
  margin: auto;
  background: white;
  margin-bottom: 30px;
  border-radius: 25px;
  transition: opacity 2s ease-in-out;
  overflow: hidden;
}

.answer h2, .answer p, .answer_outcome h2, .answer_outcome p {
  display: inline-block;
  margin: 0;
  color: #455267;
  line-height: 1.3;
}

.answer_outcome h2 {
  font-family: 'proxima_novabold';
}

.answer_outcome.correct h2, .answer_outcome.wrong h2 {
  color: white;
  font-size: 40px;
}

.answer h2 {
  font-family: 'proxima_novabold';
  font-size: 40px;
  margin-top: -2px;
}

.answer p, .answer_outcome p {
  margin-left: 25px;
  /*max-width: 461px;*/
}

.submit, .retake {
  position: absolute;
  display: none;
  width: fit-content;
}

.back_home, .back_sports {
  position: absolute;
  background: transparent;
  margin: 0;
  transition: all .5s;
  top: 8px;
  left: -42px;
}

.back_home img, .back_sports img {
  transition: all .5s;
  margin-top: -42px;
}

.right_answer {
  width: 99%;
  font-size: 60px;
  text-align: center;
  color: white;
}

.question_holder {
  display: none;
  transition: margin-top 1s;
  margin-top: 200px;
}

.question_holder .submit {
  left: 50%;
}

.title_holder + .question_holder{
  display: block;
  margin-top: 0px;
}

.correct_info p {
  font-size: 30px;
}

.trivia_completion {
  display: none;
  padding-top: 200px;
  transition: padding-top .5s;
}

.answer img, .answer_outcome img {
  width: auto;
  height: 247px;
  position: absolute;
  right: 107px;
}

.trivia .title_holder {
  padding-top: 25px;
}

/*question1 */
.trivia_content .question_holder:nth-of-type(2) .answer, .trivia_content .question_holder:nth-of-type(2) .answer_outcome {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  padding: 50px 80px;
}

.trivia_content .question_holder .answer, .trivia_content .question_holder .answer_outcome {
  padding: 50px 80px;
  background-color: white;
  height: auto;
}



.trivia_content .question_holder .correct_info {
  padding: 68px 80px;
  display: none;
  background-color: white;
  height: auto;
}

.correct {
  height: auto !important;
  display: none;
  margin-top: -30px;
  background-color: rgb(141, 198, 63) !important;
}

.wrong {
  height: auto !important;
  display: none;
  margin-top: -30px;
  background-color: #dd0014 !important;
}

.prize_text {
  font-family: 'proxima_novabold';
  font-size: 46px !important;
  margin-top: 106px;
}

#email input[type='email'] {
  width: 83%;
  padding: 35px 54px;
  background: transparent;
  border: 2px solid #455267;
  font-size: 35px;
  font-weight: normal;
  margin-bottom: 48px;
  outline: none;
  color: #455267;
  transition: border .5s;
}

#email input[type='submit'] {
  width: 99%;
  padding: 35px 54px;
  background: white;
  border: 2px solid white;
  font-size: 35px;
  font-weight: normal;
  margin-bottom: 48px;
  outline: none;
  color: black;
  transition: border .5s;
  text-transform: uppercase;
  font-family: 'proxima_novabold';
}

.complete {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 122;
}

.complete h2 {
  font-size: 52px;
  color: black;
  font-family: 'proxima_novabold';
}

.ipad {
    -webkit-animation: shake 3s infinite;
}

#key8 {
  background: black !important;
  color: white !important;
}

/**/